<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time chat box</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #131313;
        }
        .container{
            width: 100%;
            max-width: 920px;
            margin: 0 auto;
            padding: 20px;
        }
        .chat-box{
            background-color: #000000;
            color:#c09e6b;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        .chat-header{
            padding: 10px 20px;
            border-bottom: 1px solid #131313;
        }
        .chat-header h1{
            font-size: 20px;
            font-weight: 600;
        }
        .chat-display{
            height: 400px;
            overflow-y: scroll;
            padding: 10px 20px;
        }
        .chat-display::-webkit-scrollbar{
            width: 5px;
        }
        .chat-display::-webkit-scrollbar-thumb{
            background-color: #131313;
            border-radius: 5px;
        }
        .chat-display::-webkit-scrollbar-track{
            background-color: #333333;
        }
        .chat-left{
            display: flex;
            background-color: #333333;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
        }
        .chat-right{
            display: flex;
            background-color: #202020;
            flex-direction: column;
            align-items: flex-end;
        }
        .chat-message{
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
        }
        .chat-sender{
            font-size: 14px;
            font-weight: 600;
        }
        .chat-msg{
            font-size: 14px;
            font-weight: 400;
        }
        .chat-input{
            padding: 10px 20px;
            border-top: 1px solid #131313;
        }
        .chat-input form{
            display: flex;
            align-items: center;
        }
        .chat-input form input[type="text"]{
            width: 100%;
            padding: 10px;
            border: 1px solid #131313;
            border-radius: 5px;
            outline: none;
        }
        .chat-input form button{
            padding: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            background-color: #131313;
            color: #c09e6b;
            font-size: 14px;
            font-weight: 600;
        }
        .chat-input form button:hover{
            background-color: #c09e6b;
            color: #c09e6b;
        }
        .auto-scroll{
            scroll-behavior: smooth;
        }

    </style>
</head>
<body>
    <div class="container">
        <div>
            <form action="/chatroom" id="chatroom">
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username"><br>
                <label for="roomcode">Room code</label><br>
                <input type="text" name="roomcode" id="roomcode"><br>
                <!-- join or create new room -->
                <button type="submit" id="join">Join</button>
                <button type="submit" id="create">Create new room</button>
            </form>
        </div>
    </div>

    <!-- import socket io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
        const chatroom = document.getElementById('chatroom');
        const username = document.getElementById('username');
        const roomcode = document.getElementById('roomcode');
        const join = document.getElementById('join');
        const create = document.getElementById('create');

        // create socket
        const socket = io('http://localhost:8000',{
    cors: {
      origins: ["http://localhost:8000"]
    },
      handlePreflightRequest: (req, res) => {
        const headers = {
            "Access-Control-Allow-Headers": "Content-Type, Authorization",
            "Access-Control-Allow-Origin": "*", //or the specific origin you want to give access to,
            "Access-Control-Allow-Credentials": true
        };
        res.writeHead(200, headers);
        res.end();
    }
  });

        // join room
        join.addEventListener('click', (e) => {
            e.preventDefault();
            socket.emit('join-room', {username: username.value, roomcode: roomcode.value});
        });

        // create new room
        create.addEventListener('click', (e) => {
            e.preventDefault();
            socket.emit('create-room', {username: username.value, roomId: roomcode.value});
        });

        // listen for join room
        socket.on('user-connected', ({username, roomcode}) => {
            window.location.href = `/chatroom?username=${username}&roomcode=${roomcode}`;
        });

        // listen for create room
        socket.on('createRoom', ({username, roomcode}) => {
            console.log(`${username} created room ${roomcode}`);
        });



    </script>
</body>
</html>
